<%= render 'pins_index.html.erb' unless user_signed_in? %>

<h1>Listing Bates Announcements</h1>
    <% @stories.each do |story| %>

  <p>
  <span class="glyphicon glyphicon-bullhorn"> 
    <strong>Title:</strong>
    <%= story.title %>
  </p>

  <p class="lead">
    <strong>Description:</strong>
    <%= story.description %>
    </p>
      <br>
      
        <span class="glyphicon glyphicon-edit"> 

        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </p> 
    <% end %>
<br>



<%= link_to 'New Story', new_story_path %>
